@import 'global';
@import 'vars';
@import 'fonts';

.header{
    height: 54px;
    background-color: #254063;
    color: #fff;
    
    &__box{
        display: flex;
        justify-content: space-between;
        padding: 0px 50px;
    }
    &__menubox{
        display: flex;
    }
    &__logo{
        padding: 18px 0px;        
        display: flex;
        &-text{
            font-weight: 700;
            margin-left: 10px;
        }
        &-img{
            position: relative;
            width: 24px;
            height: 24px;
            background-color: #fff;
            border-radius: 50%;
            &::before{
                position: absolute;
                content: '';
                left: 3px;
                top: 3px;
                width: 18px;
                height: 18px;
                background-image: url(../images/ico/star.svg);
            }
        }
        position: relative;
        
    }
    &__userbox{
        display: flex;
        &-name{
            padding: 18px 0px;
            cursor: pointer;
        }
        &-img{
            width: 38px;
            height: 38px;
            margin: 8px 0px 8px 9px;
            @include ibg;
        }
    }
}

.menu{
    padding: 18px 0px;
    
    ul{
        li{
            display: inline-block;
            margin-left: 67px;
            position: relative;
            a{
                color: #fff;
                font-weight: 700;
            }
            &::before{
                position: absolute;
                content: '';
                left: -17px;
                top: 2px;
                width: 14px;
                height: 14px;
                background-image: url(../images/ico/star-mini.svg);
            }
        }
    }
}

.title-box{
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
    }
    
}

.title-big{
    font-size: 17px;
    line-height: 23px;
    font-weight: 700;
}

.btn{
    width: 160px;
    height: 32px;
    background: linear-gradient(180deg, #6081D2 0%, #4362AD 100%);
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 7px 0px;
}
.content{
    &__inner{
        padding: 0px 50px;
    }
}

.deals__filter{
    form{
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
    }
    padding-bottom: 10px;
}

.deals__filter input{
    width: 100%;
    height: 32px;
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    padding: 0px 7px;
    outline: none;
    box-sizing: border-box;
    border-radius: 4px;
}

.search__ico{
    position: relative;
    &::after{
        content: "";
        width: 17px;
        height: 17px;
        position: absolute;
        background-image: url(../images/ico/search.svg);
        right: 10px;
        top: 45px;
    }
    input{
        padding: 0px 30px 0px 7px;
    }
}

.no__active__input{
    background-color: #efefef;
}
select{
    width: 100%;
    height: 32px;
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    padding: 0px 10px;
    outline: none;
    box-sizing: border-box;
    border-radius: 4px;
}

.deals__name{
    width: 180px;
}
.deals__client{
    width: 220px;
    .mail{
        text-decoration: underline;
    }
    a{
        width: 220px;
    }
}
.deals__city{
    width: 160px;
}
.deals__status{
    width: 160px;        
    .text{
        text-align: center;
        color: #fff;
    }
}
.deals__task{
    width: 250px;
    .text{
        background-color: #6081d2;
        text-align: center;
        color: #fff;
    }
}
.deals__byudjet{
    width: 80px;
}
.deals__date{
    width: 120px;
}
.deals__view{
    width: 20px;
    .ico{
        background-image: url(../images/ico/view.svg);
        width: 20px;
        height: 12px;
    }
    margin-right: 10px;
}

.title{
    font-weight: 700;
    padding: 10px 0px;
}

.bgcol-red{
    background-color: #DB4661;
}

.bgcol-yellow{
    background-color: #F3D56A;
}

.bgcol-green{
    background-color: #2DA771;
}

.deals__item{
    padding-left: 10px;
    height: 64px;
    background-color: $bg;
    display: flex;
    justify-content: space-between;
}
.item__two{
    background-color: #efefef;
}

.text{
    width: 100%;
    font-size: 11px;
    line-height: 15px; 
    height: 18px;
    vertical-align: middle;
}

.vert-center{
    display: flex;
    align-items: center;
}

.deals__footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    &-inputbox{
        display: flex;  
        align-items: center;
        form{
            select{
                width: 80px;

            }
        }      
            
        
    }
    &-info{
        padding-right: 20px;
        border-right: 1px solid rgba(0, 0, 0, 0.12);;
    }
    &-text{
        margin-left: 20px;
        margin-right: 10px;
    }
    &-paginations{
        ul{
            li{
                display: inline-block;
                height: 32px;
                width: 32px;
                background-color: #ededed;
                padding: 7px 0px;
                text-align: center;
                a{
                    color: #6081D2;
                }
            }
        }
    }

}

.arrow-left{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        width: 5px;
        height: 10px;
        background-image: url(../images/ico/ar-left.svg);
        top: -10px;
        left: -2px;
    }
}

.arrow-right{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        width: 5px;
        height: 10px;
        background-image: url(../images/ico/ar-right.svg);
        top: -10px;
        left: 0px;
    }
}

.auth__form{
    width: 400px;
    height: 420px;
    background-color: #fff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    position: absolute;
    border-radius: 8px;
    right: 50px;
    top: 200px;
    &-title{
        font-size: 25px;
        line-height: 34px;
        font-weight: 700;
        margin-bottom: 15px;
    }
}

.logo__box{
    background-color: #f6f6f6;
    padding: 25px 91px;
    border-radius: 8px;
}
.logo{
    height: 28px;
    width: 218px;
    @include ibg;
}
.auth__box{
    padding: 25px 30px 30px 30px;
    form{
        input{
            border-radius: 0px;
            margin-bottom: 25px;
            border: none;
            padding-bottom: 37px;
            height: 48px;
            font-size: 11px;
            border-bottom: 1px solid #dfe6f6;
            padding-right: 10px;
            &::placeholder{
                color: rgba(0, 0, 0, 0.6);
            }
        }
        .btn{
            width: 130px;
            height: 38px;
            margin-top: 55px;
            border: none;
            margin-left: 210px;
            padding-top: 9px;
        }
    }
}

.index__page{
    height: 900px;
    position: relative;    
}

// Dark Theme CSS value's
.dark__theme{
    background-color: #2a2e33;
    color: $darktext;
    .btn{
        color: $darktext;
    }
    .deals__filter,
    .deals__footer{
        form{
            input{
                background-color: #35383d;
                color: $darktext;
            }
            select{
                background-color: #35383d;
                color: $darktext;
            }
            .no__active__input{
                background-color: #25282d;
            }
        }
    }
    .deals__item{
        background-color: #35383d;
    }
    .item__two{
        background-color: #282c31;
    }
    
    .deals__client{
        a{
            color: #6081d2;
        }
    }
    .deals__footer-paginations{
        ul{
            li{
                background-color: #35383d;
                a{
                    color: #6081d2;
                }
            }
        }
    }
    

}


.deal__cart{
    display: flex;
}

.deal__leftside{
    width: 340px;
    background-color: #ECEFF4;
    select{
        height: 28px;
        font-size: 13px;
        line-height: 18px;
        width: 210px;
        option{
            font-size: 13px;
            line-height: 18px;
        }
    }
}

.leftside__responsible,
.leftside__dealname-tegbox,
.leftside__dealname-status,
.leftside__dealname-budjet,
.leftside__info-marka,
.leftside__info-model,
.leftside__info-year,
.leftside__info-vin,
.leftside__info-adres,
.leftside__info-city,
.leftside__info-service,
.leftside__info-zapis,
.leftside__info-sms,
.leftside__info-sms,
.leftside__person-name,
.leftside__person-fio,
.leftside__person-surname,
.leftside__person-phone,
.leftside__person-otherphone,
.leftside__person-mail,
.leftside__person-adress,
.leftside__person-gender,
.leftside__person-promo,
.leftside__person-add{
    display: flex;
    align-items: center;
}

.leftside-caption{
    width: 100px;
    height: 28px;
    font-size: 11px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.6);;
    padding: 7px 0px 6px;
}
.mini-text{
    font-size: 11px;
    line-height: 15px;
}
.text{
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
}

.leftside__responsible{
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 12px 15px 11px;
    
    .text{
        margin-left: 8px;
        color: #6081D2;

    }
}
.box{
    display: flex;
    align-items: flex-end;
}

.title-blue{
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
}
.leftside__dealname{
    padding: 15px 15px 1px 15px;
    border-bottom: 1px solid #dfe6f6;
}
.title-blue{
    font-size: 17px;
    line-height: 23px;
    color: #6081D2;
    margin-bottom: 10px;
}

.mini-title{
    font-size: 11px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 10px;
}
.mini-title-teg{
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    margin-right: 4px;
    background: linear-gradient(180deg, #6081D2 0%, #4362AD 100%);
    border-radius: 4px;
    height: 17px;
    padding: 1px 5px 2px 5px;
}
.leftside__dealname-tegbox,
.leftside__dealname-status{
    margin-bottom: 13px;
    align-items: center;
}

.mini-title-red{
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    background: #DB4661;
    border-radius: 2px;
    height: 17px;
    padding: 0px 10px;
}

.leftside__dealname-budjet-sum{
    font-size: 13px;
    line-height: 18px;
    color: #DB4661;
}

.leftside__info{
    padding: 15px 15px 1px 15px;
    border-bottom: 1px solid #dfe6f6;
}

.leftside__info-marka,
.leftside__info-model,
.leftside__info-year,
.leftside__info-vin,
.leftside__info-adres,
.leftside__info-city,
.leftside__info-service{
    margin-bottom: 4px;
}


.leftside__info-zapis,
.leftside__info-vin,
.leftside__info-adres,
.leftside__person-otherphone,
.leftside__person-mail,
.leftside__person-adress,
.leftside__person-promo,
.leftside__person-add{
    input{
        width: 210px;
        height: 28px;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        text-indent: 10px;
        color: rgba(0, 0, 0, 0.75);
        border: 0.5px solid rgba(0, 0, 0, 0.12);
        padding: 0px 7px 0px 3px;
        outline: none;
        box-sizing: border-box;
        border-radius: 4px;
    }
}

.leftside__info-adres{
    input{
        font-weight: 300;
    }
}
.leftside__info-zapis{
    margin-bottom: 8px;
}

.leftside__info-sms,
.leftside__info-video,
.leftside__info-installment{
    display: flex;
    justify-content: space-between;
    label{
        font-size: 11px;
        line-height: 15px;
        color: rgba(0, 0, 0, 0.75);
    }
}

.leftside__info-sms,
.leftside__info-video{
    margin-bottom: 5px;
}

.leftside__person{
    padding: 15px 15px 0px 15px;
}

.leftside__person-name{
    display: flex;
    justify-content: space-between;
    
}

.arrow-down{
    transform: rotate(180deg);
}

.leftside__person-fio,
.leftside__person-surname,
.leftside__person-phone,
.leftside__person-otherphone,
.leftside__person-mail,
.leftside__person-adress,
.leftside__person-gender,
.leftside__person-promo{
    margin-bottom: 4px;
}

.leftside__person-add{
    input{
        background-color: #e3e5ea;
    }
}

.leftside__person-name{
    cursor: pointer;
}
.deal__cart{
    display: flex;
}

.deal__middleside{
    width: 100%;
    height: 846px;
    display: flex;
	flex-direction: column;
    min-height: 100%;   
    background-color: #f7f7f7;
}

.deal__middleside-content {
	flex: 1 0 auto;
}
.deal__middleside-footer {
	flex: 0 0 auto;
}

.deal__rightside{
    min-width: 288px;
    //width: 100%;
    height: 846px;   
    background: #ECEFF4;
}

.width-zero{
    display: none;
    transition: all .3s;
}

.rotate__180{
    transform: rotate(180deg);
}

.deal__rightside-show-btn{
    width: 12px;
    height: 846px;   
    background: rgba(0, 0, 0, 0.04);
    position: relative;
    cursor: pointer;
}

.ico-show-btn{
    position: absolute;
    top: 50%;
    left: 2px;
}

.task__item{
    margin-top: 20px;
}

.task__titlebox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.task__titlebox-title{
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.75);
}

.task__titlebox-datetime{
    font-size: 11px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.6);
}

.deal__middleside{
    padding: 0px 15px 15px 15px;
}

.task__contentbox{
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 8px 10px;
}

.task-text{
    font-size: 13px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 8px;
}

.action__list{
    display: none;
    position: absolute;
    top: -166px;
    left: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 3px 0px;
    li{
        a{
            font-size: 13px;
            line-height: 18px;
            color: rgba(0, 0, 0, 0.75);
            padding: 7px 10px;
            
        }
        &:hover{
            background: #ECEFF4;
        }
    }
    .active-action{
        color: #6081D2;
    }
}

.action{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
}

.action__box{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 12px 15px 5px 15px;
}

.action__type{
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #6081D2;
    margin-right: 5px;
    cursor: pointer;
}

.action__typebox{
    display: flex;
    align-items: center;
}

.action__datetime,
.action__for{
    margin-left: 20px;
    font-size: 11px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.6);
    span{
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        text-decoration-line: underline;
        color: #6081D2;
    }
}

.action__value{
    display: flex;
}

.action__comment{
    margin-top: 8px;
    margin-bottom: 12px;
    textarea{
        width: 100%;
        height: 66px;
        font-weight: 300;
        font-size: 13px;
        line-height: 18px;
        text-indent: 15px;
        border: none;
    }
}

.action__commentbox{
    position: relative;
}

.action-btn{
    position: absolute;
    right: 15px;
    bottom: 8px;
    width: 100px;
    height: 32px;
}

.rightside__work-name{
    display: flex;
    padding: 15px 20px 0px 20px;
}

.rightside__work-ico{
    margin-left: 8px;
    margin-right: 15px;
}

.rightside__work-inner{
    display: flex;
    padding: 0px 20px 20px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.work__link{
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.75);
}

.border__left{
    padding-left: 15px;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    margin-left: 63px;
}

.rightside__avtorepair-name{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 0px 20px;
}

.rightside__avtorepair-inner{
    padding: 0px 20px 20px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.rightside__account-name{
    display: flex;
    padding: 15px 20px 0px 20px;
    justify-content: space-between;
}

.rightside__account-inner{
    padding: 0px 20px 20px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.rightside__account-bonusbox{
    display: flex;
    justify-content: space-between;
    border: 1px solid #d0d2d7;
    border-radius: 4px;
    padding: 7px 15px;
}

.bonus-title{
    font-size: 13px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.75);
}

.bonus-count{
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #DB4661;
}

.bonus__btn-box{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.bonus-plus-btn{
    width: 120px;
    background: linear-gradient(180deg, #2CDA8D 0%, #2DA771 100%);
    border-radius: 4px;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 7px 0px;
}

.bonus-minus-btn{
    width: 120px;
    background: linear-gradient(180deg, #ED5671 0%, #DB4661 100%);
    border-radius: 4px;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 7px 0px;
}

.rightside__account-avto-btn{
    background: linear-gradient(180deg, #6081D2 0%, #4362AD 100%);
    border-radius: 4px;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 7px 0px;
    width: 100%;
    margin-top: 4px;
}

.rightside__answer-name{
    display: flex;
    padding: 15px 20px 0px 20px;
    justify-content: space-between;    
}

.rightside__answer-inner{
    padding: 0px 20px 20px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.rightside__answer-caption{
    background: #2DA771;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 10px;
    margin-bottom: 10px;
}

.answer-title{
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
}

.answer-datetime{
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}

.question-text{
    font-size: 11px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 4px;
}

.answer-text{
    font-size: 13px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 8px;
}

.answer__paginations-box{
    display: flex;
    justify-content: space-between;
}

.pag__prev-box,
.pag__next-box{
    display: flex;
    a{
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        color: #6081D2;
    }
}

.pag__prev-btn{
    margin-left: 8px;
}

.pag__next-btn{
    margin-right: 8px;
}
@import 'media';
//end present box

